.card {
  height: 100%;
  width: 23%;
  /* border: 2px solid red; */
  /* margin: 0rem 2rem; */
  /* gap: 1rem; */
}

.cardUpper {
  height: 56%;
  width: 100%;
  position: relative;
  top: 0;
  /* border: 1px solid pink; */
  background-color: rgba(245, 245, 245, 1);
  border-radius: 4px;
}

.cardUpper:hover {
  /* border: 2px solid black; */
  opacity: 0.7;
  transition: ease-in 0.1s;
  /* .addToCart{
    display: block;
  } */
}

.cardImg {
  object-fit: contain;
  padding: 1rem 2rem;
  cursor: pointer;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;

  /* border: 3px solid purple; */
}

.cardStar {
  height: 4rem;
  width: 95%;
  cursor: pointer;
  /* border: 2px solid red; */
}

.cardImgDiscount {
  position: absolute;
  top: 5%;
  left: 88%;
  padding: 0.2rem 0.4rem;
  margin-left: -186px;
  margin-top: -1px;
  color: white;
  background-color: tomato;
  border-radius: 3px;
  border: 2px solid tomato;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.dil {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.addToCart {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 184px;
  margin-left: -191px; */
  background-color: black;
  color: white;
  border-radius: 0rem 0rem 0.3rem 0.3rem;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-bottom: 8%;
  /* display: none; */
  /* border-left: 69px solid black; */
  /* position: absolute; */
  /* width: 151px;
  border-bottom: 10px solid rgb(7, 20, 133);
  border-top: 10px solid black;
  cursor: pointer; */
  /* border: 2px solid white; */
}
